.container {
  width: 100vw;
  height: 100vh;
  transition: 300ms ease;
  position: relative;
  grid-template-areas:
    "nav header"
    "nav page";
}

.page {
  grid-area: page;
  background-color: "white";
}
