@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: Poppins, Roboto, sans-serif;
}

* {
  box-sizing: border-box;
}

p {
  margin: 0;
}

[inert] > * {
  opacity: .5;
}

html {
  scroll-behavior: smooth;
}