.card {
  position: relative;
  text-align: center;
  margin: 3px;
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  align-items: center;
  place-content: space-between;
  cursor: pointer;
  color: white;
  margin: 2rem;
  padding: 1rem;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
}

.card:hover {
  color: black;
  align-self: center;
  align-items: center;
  align-content: center;
}

.characterImage {
  width: 90%;
  background-color: black;
}

.name {
  color: white;
  letter-spacing: 5px;
  text-transform: uppercase;
  font-size: 12px;
}

.descriptionContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 20px;
}

.badge {
  font-size: 12px;
  padding: 3px;
  border-radius: 4px;
  color: #98f6ff;
  border: 2px solid #98f6ff;
}

.badgeAlive {
  font-size: 12px;
  padding: 3px;
  border-radius: 4px;
  color: #cdff87;
  border: 2px solid #cdff87;
}

.badgeDead {
  font-size: 12px;
  padding: 3px;
  border-radius: 4px;
  color: #ff8c9b;
  border: 2px solid #ff8c9b;
}

.content {
  display: flex;
  flex-direction: column;
  width: 90%;
  flex-wrap: wrap-reverse;
  align-items: center;
  padding: 1rem;
  margin-top: -2rem;
  border-radius: 6px;
  background-color: black;
}

.headerContainer {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}

.viewMore {
  font-size: 10px;
  letter-spacing: 3px;
  height: 30px;
  padding: 3px;
  border-radius: 4px;
  font-weight: 200;
  color: white;
  border: 2px solid white;
  background-color: transparent;
  cursor: pointer;
}
