@import "../../../app/globals/colors.scss";

.card {
  position: relative;
  text-align: center;
  margin: 3px;
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  align-items: center;
  place-content: space-between;
  cursor: pointer;
  color: $white;
  margin: 2rem;
  padding: 1rem;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
}

.card:hover {
  color: $black;
  align-self: center;
  align-items: center;
  align-content: center;
}

.characterImage {
  width: 90%;
  background-color: $black;
}

.name {
  color: white;
  letter-spacing: 5px;
  text-transform: uppercase;
  font-size: 12px;
}

.descriptionContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 20px;
}

.badge {
  font-size: 12px;
  padding: 3px;
  border-radius: 4px;
  color: $blue;
  border: 2px solid $blue;
}

.badgeAlive {
  font-size: 12px;
  padding: 3px;
  border-radius: 4px;
  color: $green;
  border: 2px solid $green;
}

.badgeDead {
  font-size: 12px;
  padding: 3px;
  border-radius: 4px;
  color: $pink;
  border: 2px solid $pink;
}

.content {
  display: flex;
  flex-direction: column;
  width: 90%;
  flex-wrap: wrap-reverse;
  align-items: center;
  padding: 1rem;
  margin-top: -2rem;
  border-radius: 6px;
  background-color: $black;
}

.headerContainer {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}

.viewMore {
  font-size: 10px;
  letter-spacing: 3px;
  height: 30px;
  padding: 3px;
  border-radius: 4px;
  font-weight: 200;
  color: $white;
  border: 2px solid $white;
  background-color: transparent;
  cursor: pointer;
}

@media only screen and (max-width: 320px) {
  .card {
    padding: 0rem;
  }
}